*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: white;
    font-family: sans-serif;
  }

:root{
    --cream: #F9E2AF;
    --ocean-blue: #96C9F4;
    --light-blue: #3FA2F6;
    --light-yellow: #FFF078;
    --orange: #FF7F3E;
  }

.register-page{
    height: 100vh;
    max-width: 100vw;
    background-color: black;

    .register-form{
        display: grid;
        grid-template-columns: repeat(2, 40% 60%);

        main{
          display: grid;
          place-self: center;
          width: 100%;

          h1{
            font-size: 2rem;
            color: white;
            margin-bottom: 40px;
          }

          .inputs{
            display: flex;
            flex-direction: column;
            gap: 10px;

            input{
              padding: 10px;
              color: black;
            }
          }
        }
    }
}