.google-icon, .apple-icon, .outlook-icon{
    border: 1px solid white;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button{
    background-color: #3FA2F6;
    width: 300px;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    justify-self: center;
}